body {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

.container {
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}

.header_text {
  font-family: "Roboto";
  text-decoration: none;
  color: #000000;
  width: 334px;
  height: 79px;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

.colored {
  color: #4bcaff;
}

.menu-header {
  margin-top: 40px;
  height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #35444f;
}

.menu-list {
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  align-items: center;
}

.menu-item {
  padding: 24px 40px 18px 40px;
  border-left: solid 1px rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 255, 255);
}

.menu-link {
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  white-space:nowrap;
}

.main {
  margin-top: 48px;
}

.content-container {
  display: flex;
}

.left_menu {
  width: 27%;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.left_navbar {
  height: 399px;
  width: 344px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-menu-item {
  padding-left: 42px;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 27px;
  }

.aside-menu-link {
  font-family: Roboto;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

.main-content {
  width: 73%;
}

.img-block {
  min-height: 529px;
  border: solid 1px black;
  margin-bottom: 37px;
}

.img_ramda {
  display: block;
  width: 320px;
  height: 381px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

img {
  transition: transform 0.5s;
}

.img_ramda:hover {
  transform: scale(1.1);
}

.main_text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.secondary_text {
  margin-top: 34px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.bottom_container {
  margin-top: 54px;
  width: 1280px 100%;
  height: 69px;
  background-color: #63696e;
}

.footer_left {
  height: 28px;
  width: 875px;
}

.bottom_navbar {
  padding-top: 20px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.bottom-menu-item {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.bottom-menu-link {
  font-family: Roboto;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

.footer_right {
  margin-right: 40px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  align-items: right;
  text-align: right;
  vertical-align: middle;
}

.header_hover:hover {
  background-color: #222f3a;
}

.hover_aside:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
}

.footer_hover:hover {
  color: #3181a6;
}

.d_flex{
  display: flex;
  justify-content:space-between;
}

.change-theme-btn{
  background-color: black;
  color: white;
  margin-top: 5px;
  margin-right: 5px;
  border:1px solid black;
  font-size: 15px;
  border-radius: 10px;
}